body {
  width: 100%;
  height: 100vh;
  display: flex;
}

.mantine-RichTextEditor-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.mantine-TypographyStylesProvider-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}
.mantine-RichTextEditor-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto !important;
}

.ProseMirror {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 768px) {
  #nav-logo {
    font-size: 1.5rem;
  }
  .hide-on-mobile {
    display: none;
  }
}
